@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Geist+Pixel:ELSH@0..100&display=swap'); */
@plugin '../hero.ts';

@theme {
  --color-brand-bg: black;
  --color-brand-card: #17181C;
  --color-brand-border: #26272E;
  --color-brand-orange: #FE6401;
  --color-brand-orange-soft: rgba(249, 115, 22, 0.15);
  --color-brand-emerald: #10B981;
  --color-brand-white: #F3F4F6;
  --color-brand-gray: #9CA3AF;
  
  --font-geist: "Geist Pixel", sans-serif;
  --font-recursive: "Recursive", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

